# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.deoxygen
# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Log Files
*.ilk
*.tlog

# Executables
*.exe
*.out
*.app

# Visual Studio Cache
**/.vs/**

#Whitelist